body {

    font-family: Arial, sans-serif;
    margin: 0 20px;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

header {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-content {

    margin: 0 20px;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

.home-header {
    background-image: url('img/IOW-q1a-light.jpg');
}

.forecast-header {
    background-image: url('img/luke-paris-RSHVwil-qEc-unsplash.jpg');
}


input {
    margin-right: 1rem;
    padding: 0.5rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px;
    border: 1px solid transparent;
    transition: border 0.3s;
}


a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}


li a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    transition: border 0.3s ease;
}

li a:hover {
    border-radius: 10px;
    border: 1px solid black;
}


p {
    font-size: 20px;
    margin: 0 20px;
}

.option.time-window {

    color: darkgray;
    font-size: 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    cursor: pointer;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto;

}


.window {

    color: darkgray;
    font-size: 10px;
    text-decoration: none;
    transition: border 0.3s ease;
    border-radius: 5px;
    border: 1px solid black;
    flex-direction: row;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}


.window > label {

    position: relative;
    top: 1%;
    right: 28%;
    z-index: 2;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.window > span {
    position: relative;
    top: 1%;
    left: 28%;
    z-index: 2;
}

.paragraph-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: wrap;
}

.content {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.right-column {
    width: 500px;
    padding: 10px;
    margin-right: 780px;
}

.next-page {
    margin-top: 100px;
    margin-left: 250px;
}


.search-location {
    position: relative;
    width: 300px;
    margin: 20px auto;
}

#location {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

.suggestions {
    #border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.suggestions li:hover {
    background-color: #f0f0f0;
    color: #333;
}

.suggestions li.active {
    background-color: #007bff;
    color: #fff;
}

.suggestions li:last-child {
    border-bottom: none;
}


